<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование книги</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

    </style>
</head>
<body>

<!-- Book deletioon -->
<form id="delete-form" th:action="@{/book(id=${book.id})}" th:object="${book}" th:method="delete" action="delete.html">
    <h1>Вы действительно хотите удалить книгу?</h1>
    <div class="row">
        <label for="id-input">ID:</label>
        <input name="id-input" id="id-input" type="text" readonly="readonly" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Название книги:</label>
        <input id="name-input" name="name" type="text" readonly="readonly" th:value="*{name}" value="Чебурашка"/>
    </div>

    <div class="row">
        <label>Автор:</label>
        <select name="author" th:field="*{{author}}" disabled="true">
            <option th:each="localAuthor : ${allAuthors}"
                    th:value="${{localAuthor}}"
                    th:text="|${localAuthor.name} ${localAuthor.surName}|">Иванов И. И.
            </option>
        </select>
    </div>
    <div class="row">
        <label>Жанр:</label>
        <select name="genre" th:field="*{{genre}}" multiple="multiple" disabled="true">
            <option th:each="particularGenre : ${allGenres}"
                    th:value="${{particularGenre}}"
                    th:text="${particularGenre.name}">Название жанра
            </option>
        </select>
    </div>
    <div class="row">
        <button type="submit">Удалить</button>
    </div>
</form>

</body>
</html>
