# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/b/7/b790359da3ed4d3ef584fc56ab9c5a893c4cd7ff
/.idea/sonarlint/issuestore/c/d/cd271a876477f9decb4cef83336f69871d5e4d8c
/.idea/sonarlint/issuestore/index.pb
/.idea/uiDesigner.xml
/.idea/workspace.xml
/homework-1/.idea/.gitignore
/homework-1/.idea/.name
/homework-1/.idea/2020-11-otus-spring-AlexanderShabanov.iml
/homework-1/.idea/checkstyle-idea.xml
/homework-1/.idea/compiler.xml
/homework-1/.idea/encodings.xml
/homework-1/.idea/jarRepositories.xml
/homework-1/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/homework-1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_3_2.xml
/homework-1/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_3_2.xml
/homework-1/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/homework-1/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
/homework-1/.idea/misc.xml
/homework-1/.idea/modules.xml
/homework-1/.idea/sonarlint/issuestore/index.pb
/homework-1/.idea/uiDesigner.xml
/homework-1/.idea/vcs.xml
/homework-1/runme.bat
/homework-1/src/main/resources/questions.csv2.csv
/homework-1/target/classes/questions.csv
/homework-1/target/classes/questions.csv2.csv
/homework-1/target/classes/spring-context.xml
/homework-1/target/maven-archiver/pom.properties
/homework-1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
