# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/b/7/b790359da3ed4d3ef584fc56ab9c5a893c4cd7ff
/.idea/sonarlint/issuestore/c/d/cd271a876477f9decb4cef83336f69871d5e4d8c
/.idea/sonarlint/issuestore/index.pb
/.idea/uiDesigner.xml
/.idea/workspace.xml
/homework-1/.idea/.gitignore
/homework-1/.idea/.name
/homework-1/.idea/2020-11-otus-spring-AlexanderShabanov.iml
/homework-1/.idea/checkstyle-idea.xml
/homework-1/.idea/compiler.xml
/homework-1/.idea/encodings.xml
/homework-1/.idea/jarRepositories.xml
/homework-1/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/homework-1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_3_2.xml
/homework-1/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_3_2.xml
/homework-1/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/homework-1/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
/homework-1/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
/homework-1/.idea/misc.xml
/homework-1/.idea/modules.xml
/homework-1/.idea/sonarlint/issuestore/index.pb
/homework-1/.idea/uiDesigner.xml
/homework-1/.idea/vcs.xml
/homework-1/runme.bat
/homework-1/src/main/resources/questions.csv2.csv
/homework-1/target/classes/questions.csv
/homework-1/target/classes/questions.csv2.csv
/homework-1/target/classes/spring-context.xml
/homework-1/target/maven-archiver/pom.properties
/homework-1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/homework-1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/homework-2/.idea/.name
/homework-2/.idea/compiler.xml
/homework-2/.idea/encodings.xml
/homework-2/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_15.xml
/homework-2/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_15.xml
/homework-2/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/homework-2/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_2.xml
/homework-2/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_2.xml
/homework-2/.idea/libraries/Maven__org_mockito_mockito_core_3_6_0.xml
/homework-2/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_0.xml
/homework-2/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
/homework-2/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/homework-2/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
/homework-2/.idea/misc.xml
/homework-2/.idea/modules.xml
/homework-2/.idea/vcs.xml
/homework-2/spring-homework-02.iml
/homework-2/src/main/resources/questions.csv2.csv
/homework-2/target/classes/application.properties
/homework-2/target/classes/questions.csv
/homework-2/target/classes/questions.csv2.csv
/homework-2/target/maven-archiver/pom.properties
/homework-2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/homework-1/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_15.xml
/homework-1/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_15.xml
/homework-1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_2.xml
/homework-1/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_2.xml
/homework-1/.idea/libraries/Maven__org_mockito_mockito_core_3_6_0.xml
/homework-1/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_0.xml
/homework-1/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
/homework-1/spring-homework-01.iml
/homework-1/target/classes/application.properties
/homework-2/.idea/.gitignore
/homework-2/.idea/.name
/homework-2/.idea/compiler.xml
/homework-2/.idea/encodings.xml
/homework-2/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_15.xml
/homework-2/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_15.xml
/homework-2/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/homework-2/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_2.xml
/homework-2/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_2.xml
/homework-2/.idea/libraries/Maven__org_mockito_mockito_core_3_6_0.xml
/homework-2/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_0.xml
/homework-2/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
/homework-2/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/homework-2/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
/homework-2/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
/homework-2/.idea/misc.xml
/homework-2/.idea/modules.xml
/homework-2/.idea/vcs.xml
/homework-2/spring-homework-02.iml
/homework-2/src/main/resources/questions.csv2.csv
/homework-2/target/classes/application.properties
/homework-2/target/classes/questions.csv
/homework-2/target/classes/questions.csv2.csv
/homework-2/target/maven-archiver/pom.properties
/homework-2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/homework-2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

/.gitignore.orig
/homework-1/src/main/java/ru/otus/spring/config/AnswerScoringConfig.java
/homework-1/src/main/java/ru/otus/spring/config/UserInterfaceConfig.java
/homework-1/src/main/java/ru/otus/spring/domain/Score.java
/homework-1/src/main/java/ru/otus/spring/service/UserInterfaceService.java
/homework-1/src/main/java/ru/otus/spring/service/UserInterfaceServiceImpl.java
/homework-1/src/main/resources/application.properties
/homework-1/src/test/java/ru/otus/spring/service/QuestionDaoImplTest.java
/homework-1/src/test/java/ru/otus/spring/service/UserInterfaceServiceImplTest.java
/homework-2/.idea/checkstyle-idea.xml
/homework-2/.idea/jarRepositories.xml
/homework-2/.idea/sonarlint/issuestore/1/9/19d03dc73bc35a2b8fa1686e9a971a71e0ccd3b0
/homework-2/.idea/sonarlint/issuestore/2/b/2b140815f02a3a986d8ebee895f90229688ebde4
/homework-2/.idea/sonarlint/issuestore/2/e/2ea020d3d008a60a71aa0bf6e8c9b256c383bddd
/homework-2/.idea/sonarlint/issuestore/3/5/3550db2aa7e6c06b4bb6a8a26b105e643e889b5d
/homework-2/.idea/sonarlint/issuestore/3/a/3a34e32160b4d0eaa9126b736dddb0cc74f8f0a5
/homework-2/.idea/sonarlint/issuestore/5/5/55e11fe76171292ad320e2dfee98e32422d40e2a
/homework-2/.idea/sonarlint/issuestore/5/9/5926701f4fc5be2f71cb628102691bb1b83b859d
/homework-2/.idea/sonarlint/issuestore/6/5/6524fb2b33940b6d68f1f0873daa5bfe1c47d072
/homework-2/.idea/sonarlint/issuestore/8/5/85bd3da48e78b891350bcf46464ec394ff9a989e
/homework-2/.idea/sonarlint/issuestore/a/9/a91d7cac7e75305503c8793c76446634d9a3a7ea
/homework-2/.idea/sonarlint/issuestore/b/a/ba7a89b81244ceb771760fe1c07a3e6d0000358c
/homework-2/.idea/sonarlint/issuestore/b/b/bb29c5dfe3e0339b0d8b6ed4712080abb539de14
/homework-2/.idea/sonarlint/issuestore/d/9/d92ef02780d5da3dfbe981b5cdeae7bbb14713fa
/homework-2/.idea/sonarlint/issuestore/d/e/dec376df9ca774d6fb554e19ed408b411439d491
/homework-2/.idea/sonarlint/issuestore/e/2/e290882f1b9dd0101d4325d050b4d1033c4421bb
/homework-2/.idea/sonarlint/issuestore/f/4/f4d963a756dee41b5fec3ead5dd6d08efc43b8e3
/homework-2/.idea/sonarlint/issuestore/index.pb
/spring-homework-03/runme.bat
/spring-homework-04/.gitignore
/spring-homework-04/.mvn/wrapper/maven-wrapper.jar
/spring-homework-04/.mvn/wrapper/maven-wrapper.properties
/spring-homework-04/.mvn/wrapper/MavenWrapperDownloader.java
/spring-homework-04/mvnw
/spring-homework-04/mvnw.cmd
/spring-homework-04/runme.bat
/spring-homework-05/.classpath
/spring-homework-05/.factorypath
/spring-homework-05/.idea/.gitignore
/spring-homework-05/.idea/checkstyle-idea.xml
/spring-homework-05/.idea/compiler.xml
/spring-homework-05/.idea/encodings.xml
/spring-homework-05/.idea/jarRepositories.xml
/spring-homework-05/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/spring-homework-05/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/spring-homework-05/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/spring-homework-05/.idea/libraries/Maven__com_h2database_h2_1_4_200.xml
/spring-homework-05/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/spring-homework-05/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/spring-homework-05/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/spring-homework-05/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/spring-homework-05/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/spring-homework-05/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/spring-homework-05/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/spring-homework-05/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_18.xml
/spring-homework-05/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_18.xml
/spring-homework-05/.idea/libraries/Maven__net_java_dev_jna_jna_4_2_2.xml
/spring-homework-05/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/spring-homework-05/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/spring-homework-05/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/spring-homework-05/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/spring-homework-05/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/spring-homework-05/.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
/spring-homework-05/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/spring-homework-05/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/spring-homework-05/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_6_Final.xml
/spring-homework-05/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/spring-homework-05/.idea/libraries/Maven__org_jline_jline_3_4_0.xml
/spring-homework-05/.idea/libraries/Maven__org_jline_jline_terminal_3_4_0.xml
/spring-homework-05/.idea/libraries/Maven__org_jline_jline_terminal_jna_3_4_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_mockito_mockito_core_3_6_28.xml
/spring-homework-05/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_28.xml
/spring-homework-05/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
/spring-homework-05/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/spring-homework-05/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/spring-homework-05/.idea/libraries/Maven__org_projectlombok_lombok_1_18_16.xml
/spring-homework-05/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/spring-homework-05/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/spring-homework-05/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_1.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_core_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_jcommander_adapter_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_shell1_adapter_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_standard_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_standard_commands_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_starter_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_shell_spring_shell_table_2_0_1_RELEASE.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_aop_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_beans_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_context_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_core_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_expression_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_test_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_springframework_spring_tx_5_3_2.xml
/spring-homework-05/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
/spring-homework-05/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
/spring-homework-05/.idea/misc.xml
/spring-homework-05/.idea/modules.xml
/spring-homework-05/.idea/sonarlint/issuestore/0/5/05194d2ee9746008569472e58e1254642bb4717c
/spring-homework-05/.idea/sonarlint/issuestore/0/f/0f892ad42a9d64ebbd1e9e19352998f6829448ac
/spring-homework-05/.idea/sonarlint/issuestore/1/8/1850b308574e146f91c5b10eaa7cc20571d60067
/spring-homework-05/.idea/sonarlint/issuestore/2/7/2748a8f5544a2e6f6dd798ef7b797459eeee0205
/spring-homework-05/.idea/sonarlint/issuestore/2/9/298710af660913f20fbed840b8413616cf54bc8d
/spring-homework-05/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/spring-homework-05/.idea/sonarlint/issuestore/4/a/4a94e0a20d38714450912da275cd21c5c92fc998
/spring-homework-05/.idea/sonarlint/issuestore/5/0/5072e26fb81c2fb5cc816ca7d71eae829caa6c5d
/spring-homework-05/.idea/sonarlint/issuestore/6/3/63cfe712d20ba2f289ccf74d63af6487860f45a6
/spring-homework-05/.idea/sonarlint/issuestore/6/6/66b1851fff16454568cbbd56f7ab271897c152c1
/spring-homework-05/.idea/sonarlint/issuestore/7/2/72e10671c885ff0df30495e6315433b1b170bd5b
/spring-homework-05/.idea/sonarlint/issuestore/8/1/81601283dbe18b889daeb985d01ae0f749f0bddc
/spring-homework-05/.idea/sonarlint/issuestore/8/e/8ea9fb66359ed1571ba258617902a15752b59c17
/spring-homework-05/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/spring-homework-05/.idea/sonarlint/issuestore/a/7/a78954e5b14de560c31aee993235911dd592608e
/spring-homework-05/.idea/sonarlint/issuestore/b/5/b5c4488659c87991d3c9dafbb01d376da67a1e98
/spring-homework-05/.idea/sonarlint/issuestore/b/b/bb8c809c63736dcf8cefe36aa89eda86b5f6ef38
/spring-homework-05/.idea/sonarlint/issuestore/e/a/ea6e1375bab101c3cdd568a015db2ea77e08d12f
/spring-homework-05/.idea/sonarlint/issuestore/f/b/fb47ccf404a13bcdef70be452f685cd339d7dc2c
/spring-homework-05/.idea/sonarlint/issuestore/index.pb
/spring-homework-05/.idea/vcs.xml
/spring-homework-05/.project
/spring-homework-05/.settings/org.eclipse.core.resources.prefs
/spring-homework-05/.settings/org.eclipse.jdt.apt.core.prefs
/spring-homework-05/.settings/org.eclipse.jdt.core.prefs
/spring-homework-05/.settings/org.eclipse.m2e.core.prefs
/spring-homework-05/.vscode/settings.json
/spring-homework-04/.mvn/wrapper/maven-wrapper.jar
/spring-homework-05/target/classes/application.yml
/spring-homework-05/target/classes/data.sql
/spring-homework-05/target/classes/schema.sql
/spring-homework-05/target/maven-archiver/pom.properties
/spring-homework-05/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/spring-homework-05/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/spring-homework-05/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/spring-homework-05/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/spring-homework-05/target/spring-homework-05-1.0-SNAPSHOT.jar.original
/spring-homework-05/target/surefire-reports/ru.otus.spring.repositories.BookRepositoryImplTest.txt
/spring-homework-05/target/surefire-reports/ru.otus.spring.service.LibraryServiceImplTest.txt
/spring-homework-05/target/surefire-reports/TEST-ru.otus.spring.repositories.BookRepositoryImplTest.xml
/spring-homework-05/target/surefire-reports/TEST-ru.otus.spring.service.LibraryServiceImplTest.xml
/spring-homework-05/target/test-classes/application.yaml
/spring-homework-05/target/test-classes/data_test.sql
/spring-homework-04/.mvn/wrapper/maven-wrapper.jar
/spring-homework-06/target/
/spring-homework-06/.idea
/spring-homework-04/.mvn/wrapper/maven-wrapper.jar
/spring-homework-05/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
/spring-homework-05/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
/spring-homework-05/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_9.xml
/spring-homework-05/.idea/sonarlint/issuestore/7/a/7aed12f64bf1acf3e550f58676fdb84a009e5ce4
/spring-homework-05/.idea/sonarlint/issuestore/9/0/909ae67cd7d4eae9af2c2805883ae765115bb179
/spring-homework-05/.idea/sonarlint/issuestore/b/f/bf569cb3328a8888f31caa98a507c6e3145b73c6
/spring-homework-05/.idea/sonarlint/issuestore/e/d/ed2054f67d4354033d384233a3db1ebab9243efb
/spring-homework-05/.idea/sonarlint/issuestore/f/6/f670ac9cd71304abfdf3105b446a441347f608f6
/spring-homework-05/spring-homework-05.iml
/spring-homework-05/target/surefire-reports/2021-01-28T21-06-10_668-jvmRun1.dump
/spring-homework-06/spring-homework-06.iml
/spring-homework-04/.mvn/wrapper/maven-wrapper.jar
/spring-homework-05/spring-homework-05.iml
